<html>  
  <head>
    <title>Game</title>
    <style>
    @font-face {
    	font-family: "stuff";
    	src: url('/static/ARCADECLASSIC.ttf');
	}
    </style>
  </head>
  <body style="background-image: url('/static/images/stars.png'); text-align: center">
    {{{body}}}
  </body>
</html>  
