
<img style="margin-bottom: -100px;width: 60%" src="/static/images/jared.png">
<h1 style="cursor: pointer;font-size: 50px;letter-spacing: 6px;font-family: 'arcadeclassic';color: white">START</h1>
<h2 style="cursor: pointer;font-size: 40px;letter-spacing: 6px;font-family: 'arcadeclassic';color: white">LEADERBOARD</h2>